<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
       <!-- <ul class="downloads"> -->
  <ul class="social-links">
    <button onclick="window.open('https://www.linkedin.com/in/pranav-vyas-5a435b209', '_blank')" rel="noopener noreferrer" aria-label="LinkedIn">
  <i class="fab fa-linkedin"></i> LinkedIn
</button>
<button onclick="window.open('https://github.com/pranavvyas', '_blank')" rel="noopener noreferrer" aria-label="GitHub">
  <i class="fab fa-github"></i> GitHub
</button>
<button onclick="window.open('mailto:pranavvyas2000@gmail.com', '_blank')" rel="noopener noreferrer" aria-label="Email">
  <i class="fas fa-envelope"></i> Email
</button>
<button onclick="window.open('https://www.kaggle.com/pranavvyas', '_blank')" rel="noopener noreferrer" aria-label="Kaggle">
  <i class="fab fa-kaggle"></i> Kaggle
</button>
<button onclick="window.open('https://medium.com/@pranavvyas', '_blank')" rel="noopener noreferrer" aria-label="Medium">
  <i class="fab fa-medium"></i> Medium
</button>

  </ul>
<!-- </ul> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4
DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
